@import "tailwindcss";
@config "../../tailwind.config.ts";

@layer utilities {
  .reveal {
      opacity: 0;
      transform: translateY(30px);
      transition: all 1s cubic-bezier(0.5, 0, 0, 1);
  }
  .reveal.active {
      opacity: 1;
      transform: translateY(0);
  }
  .glass-card {
      background: rgba(255, 248, 243, 0.5);
      backdrop-filter: blur(16px);
      -webkit-backdrop-filter: blur(16px);
      border: 1px solid var(--tw-colors-surface-dim);
  }
  .glass-panel {
      background: rgba(255, 255, 255, 0.4);
      backdrop-filter: blur(16px);
      -webkit-backdrop-filter: blur(16px);
      border: 1px solid var(--tw-colors-surface-dim);
  }
}

body {
  @apply bg-surface-container-lowest text-on-surface antialiased selection:bg-primary-container selection:text-on-primary-container;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
}

.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
